In [1]:
def f(x):
    return x*x

In [2]:
r = map(f, [1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
list(r)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
list(map(str, [1, 2, 3, 4, 5, 6, 7, 8, 9]))

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [5]:
from functools import reduce

In [6]:
def add(x, y):
    return x + y

In [7]:
reduce(add, [1, 3, 5, 7, 9])

25

In [8]:
def fn(x, y):
    return x * 10 + y

In [9]:
reduce(fn, [1, 3, 5, 7, 9])

13579

In [10]:
def char2num(s):
    return {'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}[s]

In [11]:
reduce(fn, map(char2num, '13579'))

13579

In [12]:

def str2int(s):
    def fn(x, y):
        return x * 10 + y
    def char2num(s):
        return {'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}[s]
    return reduce(fn, map(char2num, s))

In [13]:
str2int('13579')

13579

In [14]:
def str2int(s):
    return reduce(lambda x, y: x * 10 + y, map(char2num, s))

In [15]:
str2int('13579')

13579

In [16]:
def normalize(name):
    return name.lower().capitalize()

In [17]:
L1 = ['adam', 'LISA', 'barT']

In [18]:
L2 = list(map(normalize, L1))

In [19]:
print(L2)

['Adam', 'Lisa', 'Bart']

In [20]:
def is_odd(n):
    return n % 2 == 1

In [21]:
list(filter(is_odd, [1, 2, 4, 5, 6, 9, 10, 15]))

[1, 5, 9, 15]

In [22]:
def not_empty(s):
    return s and s.strip()

In [23]:
list(filter(not_empty, ['A', '', 'B', None, 'C', '  ']))

['A', 'B', 'C']

In [24]:
def _odd_iter():
    n = 1
    while True:
        n = n + 2
        yield n

In [25]:
def _not_divisible(n):
    return lambda x: x % n > 0

In [26]:
def primes():
    yield 2
    it = _odd_iter() # 初始序列
    while True:
        n = next(it) # 返回序列的第一个数
        yield n
        it = filter(_not_divisible(n), it) # 构造新序列

In [27]:
# 打印1000以内的素数:
for n in primes():
    if n < 1000:
        print(n)
    else:
        break

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [28]:
sorted([36, 5, -12, 9, -21])

[-21, -12, 5, 9, 36]

In [29]:
sorted([36, 5, -12, 9, -21], key=abs)

[5, 9, -12, -21, 36]

In [30]:
sorted(['bob', 'about', 'Zoo', 'Credit'])

['Credit', 'Zoo', 'about', 'bob']

In [31]:
sorted(['bob', 'about', 'Zoo', 'Credit'], key=str.lower)

['about', 'bob', 'Credit', 'Zoo']

In [32]:
sorted(['bob', 'about', 'Zoo', 'Credit'], key=str.lower, reverse=True)

['Zoo', 'Credit', 'bob', 'about']